<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="container">
        <h1>About Rental Hub</h1>
        <p>Rental Hub is a platform designed to connect property owners and renters. Whether you're looking for a places (Auditoriums, Playgrounds, Meeting Blocks & Marrige Gardens)  or you have a property to rent out, Rental Hub makes the process simple and efficient.</p>
        <h2>Our Goal</h2>
        <p>Our goal of this website is create a platform that ease the seaching and booking process of rental spaces.We aim to provide fulfillments of needs of both renters and space owners.</p>
        <h2>Why Choose Rental Hub?</h2>
        <p>Rental Hub offers a wide range of properties for rent, from apartments and Auditoriums for any school/college functions or any meatings and Play Grounds with parking facility. Our platform is user-friendly and secure, ensuring a smooth rental experience for everyone involved.</p>
        <h2>Future aspects</h2>
        <p>Planning to establish offline booking offices for user convenience.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions or feedback, please don't hesitate to reach out to us:</p>
        <ul>
            <li>Email: hp3@rentalhub.com</li>
            <li>954824xxxx</li>
        </ul>
    </div>
    
</body>
</html>